#formulario-contenedor, #formulario-contenedor2 {
    background-color: #ffffff; /* Color de fondo del contenedor */
    padding: 20px; /* Espaciado interno para una mejor estética */
    border: 1px solid #ccc; /* Borde sutil para el contenedor */
    border-radius: 15px; /* Esquinas redondeadas para un look moderno */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra sutil para profundidad */
    width: 300px; /* Ancho fijo para consistencia en diferentes pantallas */
    margin: 40px auto; /* Centrado y margen superior para separación de elementos */
    display: flex; /* Uso de Flexbox para alineación interior */
    flex-direction: column; /* Elementos internos en columna */
    align-items: center; /* Centra los elementos internos horizontalmente */
    justify-content: space-around; /* Distribuye los elementos internos uniformemente */
    height: auto; /* Altura automática basada en el contenido interno */
    max-width: 100%; /* Máximo ancho para asegurar responsividad */
}

#formulario-contenedor2 {
    background-color: #ffffff; /* Cambia el color de fondo según tus preferencias */
    padding: 10px; /* Añade relleno al contenedor según sea necesario */
    border: 1px solid #ccc; /* Añade un borde al contenedor si es necesario */
    border-radius: 10px;
    height: 140px; /* Ajusta la altura según sea necesario */
    margin-top: 30px;
}

#datos {
    font-weight: bold;
}

#nombre, #apellido {
    width: 400px; 
    border-color: rgb(151, 151, 151);
    margin-bottom: 10px;

}

.form-fields {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.form-field {
    margin-right: 30px;
    margin-left: 20px;
}

#genero {
    margin-top: 10px;

}
#gen {
    width: 400px; 
    border-color: rgb(151, 151, 151);
    margin-bottom: 10px;

}

/* Estilos para el botón */
.custom-btn {
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

/* Estilos para el botón de éxito */
.custom-btn.btn-success {
    background-color: rgb(1, 146, 172);
    color: white;
    margin-top: 10px;
    height:50px ;
    width:100px ;
    font-weight: bold;
    border: none;
}

.custom-btn.btn-success:hover {
    background-color: rgb(5, 116, 136);
}

/* Estilos para el botón primario */
.custom-btn.btn-primary {
    background-color: rgb(1, 146, 172);
    color: white;
}

.custom-btn.btn-primary:hover {
    background-color:rgb(1, 146, 172);
}
