
/*SECCION PARA EL FORM DE VENTAS*/

#cliente {
    width: 400px;
    border-color: rgb(151, 151, 151);
    display: inline-block;
    margin-right: 20px; /* Reduce el margen */
    font-weight: bold;
    font-size: 18px;
 
}
#cantidad {
    width: 200px;
    border-color: rgb(151, 151, 151);

    font-size: 18px;
    display: inline-block;
    font-weight: bold;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 12px;
   

}

#buscar {
    width: 400px;
    border-color: rgb(151, 151, 151);
    display: inline-block;
    margin-right: 20px; /* Reduce el margen */
    margin-top: 12px;
    font-weight: bold;
    font-size: 18px;
    vertical-align: top; /* Alinea en la parte superior */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho y alto */
}

#agregar-producto {
    background-color: rgb(1, 146, 172);
    color: white;
    margin-top: 10px;
    height: 50px;
    width: 50px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    display: inline-block;
}


#agregar-producto:hover {
    background-color: rgb(5, 116, 136);
}


#guardard{
    background-color: rgb(1, 146, 172);
    color: white;
    margin-top: 10px;
    height: 50px;
    width: 100px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    display: inline-block;
}


#guardard:hover {
    background-color: rgb(5, 116, 136);
}

#tablaproductos {
    background-color: #ffffff; /* Cambia el color de fondo según tus preferencias */
    padding: 10px; /* Añade relleno al contenedor según sea necesario */
    border: 1px solid #ccc; /* Añade un borde al contenedor si es necesario */
    border-radius: 10px;
    height: 120px; /* Ajusta la altura según sea necesario */
    width: 1320px;
    margin-top: 30px;
}

.navbar-inferior {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 8%;
}


#cobrar-btn {
    background-color: rgb(1, 146, 172);
    font-size: 16px;
    height: 100%;
    color: #ffffff;
    margin-left: auto;
    width: 20%;
    border: 0;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    

}

#total-container {
    background-color: rgb(229, 233, 233);
    font-size: 16px;
    height: 100%;
    color: #070707;
    margin-left: auto;
    width: 7%;
    border: 0;
    display: inline-block;
    align-items: center;
    margin-right:-73%; /* Ajusta el margen izquierdo para que esté pegado al botón */
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;

}



#cobrar-btn:hover {
    background-color: rgb(5, 116, 136);
}


/*SECCION PARA EL INDEX Y LA TABLA DE VENTAS*/

/* Estilo para el botón */
.custom-button {
    background-color: rgb(1, 146, 172);
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    right: 5%;
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    width: 14%;

}

.custom-button2 {
    background-color: rgb(1, 146, 172);
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
 
    right: 21%;
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    width: 14%;

}

.custom-button:hover {
    background-color: rgb(5, 116, 136);
}

.custom-button2:hover {
    background-color: rgb(5, 116, 136);
}

/*estilo de la tablas*/

.custom-table {
    width: 100%;
    border-collapse: collapse;
    margin: 60px 0;
}

.custom-table th{
    border: 1px solid #c5c5c5;
    padding: 10px;
    text-align: center;
    background-color: #c42525; /* Color blanco para filas pares */
    font-size: 19px;

}
.custom-table td {
    border: 1px solid #c5c5c5;
    padding: 10px;
    text-align: center;
    font-size: 18px;

}


.custom-table tr:nth-child(even) {
    background-color: #ffffff; /* Color blanco para filas pares */
}

.custom-table tr:nth-child(odd) {
    background-color: #d1cfcf; /* Color gris para filas impares */
}

.estado-container {
    padding: 5px; /* Ajusta el relleno según tus preferencias */
    border-radius: 5px; /* Ajusta el radio del borde según tus preferencias */
    color: white; /* Color del texto dentro del contenedor */
    font-weight: bold; /* Puedes ajustar la fuente según tus preferencias */
    width: 80%;
    display: inline-block;
}

.gridview-container {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.icono-pequeno {
    font-size: 19px; /* Ajusta el tamaño según tus necesidades */
    
}

#btn-estilo {
    background-color: #4CAF50; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Sin decoración de texto */
    display: inline-block;
    font-size: 16px; /* Tamaño de fuente */
    margin: 4px 2px; /* Márgenes externos */
    cursor: pointer; /* Cambiar el cursor al pasar el ratón */
}



#agregar-producto:hover {
    background-color: rgb(5, 116, 136);
}


/*SECCIÓN PARA CSS DE USUARIOS */
.sidebar2 {

    height: 100vh; /* 100% de la altura de la ventana */
    position: fixed;
    overflow-y: auto; /* Para habilitar el desplazamiento si el contenido es demasiado largo */
    transition: margin-left 0.5s;
    padding-top: 8%;

    background-color: #f5f3f3;
    color: rgb(0, 0, 0);
    bottom: 0;
    left: 16.5%;
    z-index: 98;
   
    justify-content: center;
    width: 15%;
}



.custom-table2 {
    width: 80%;
    border-collapse: collapse;
    margin: 60px 0;
    margin-left: 19%;
}

.custom-table2 th{
    border: 1px solid #c5c5c5;
    padding: 10px;
    text-align: center;
    background-color: #c42525; /* Color blanco para filas pares */
    font-size: 19px;

}
.custom-table2 td {
    border: 1px solid #c5c5c5;
    padding: 10px;
    text-align: center;
    font-size: 18px;

}


.custom-table2 tr:nth-child(even) {
    background-color: #ffffff; /* Color blanco para filas pares */
}

.custom-table2 tr:nth-child(odd) {
    background-color: #d1cfcf; /* Color gris para filas impares */
}

.my-accordion-item {
    margin-left: 18%; /* Ajusta el valor según tus necesidades */
    width: 60%; /* Ajusta el valor según tus necesidades */
}

.horizontal-menu {
    display: flex;
    flex-direction: row; /* Esto hace que los elementos se alineen horizontalmente */
}

/* Estilo adicional según sea necesario para los botones del menú */
/* Estilos para los enlaces que se comportan como botones */


/* Cambia el color de fondo del enlace cuando se pasa el ratón por encima */


.sidebar2 a {
    color: inherit;
    text-decoration: none;
}

/* Estilos personalizados para botones */
.sidebar2 a.btn-menu {
    color: rgb(11, 0, 54);
    background-color: #f5f3f3;
    width: 100%;
    height:60px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: bold;

}

.sidebar2 a.btn-menu:hover {
    background-color: #eaeaeb;
    color: #dfdfdf;
    color: rgb(11, 0, 54);
    font-weight: bold;


}

/*INICIO DE LA SECCIÓN */
#estadoact{
    width: 25%; 
    margin-left: 25%;
}

#usuario{
    width: 40%; 
    margin-left: 25%;
}

.estadoact{
    background-color: rgb(1, 146, 172);
    color: white;
    margin-top: 10px;
    height: 50px;
    width: 100px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    display: inline-block;
    margin-left: 25%;
}


/* Estilos para el contenedor */
.venta-container {
    background-color: #e7e7e9;
    border: 2px solid #bbbbbb;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.contenedor-general {
    display: flex;
}

.ventas-todas-container,
.ventas-deuda {
    background-color: #ffffff;
    padding: 15px;
    margin: 10px; /* Ajusta el margen según sea necesario */
    box-sizing: border-box; /* Para incluir el relleno en el ancho total */
}

.ventas-todas-container {
    width: 70%;
}

.ventas-deuda {
    width: 30%;
    height: 200px;
    font-size: 20px;
    border-radius: 15px;
}



